<div class="card margin-bottom-sm">
          <div class="card-section">
            <div id="goGome" ng-click="uvm.searchUser(user.username)" class="row onHoverUserSearch">
              <div class="col-xs-3"><span class="glyphicon glyphicon-user vecjiGlyph"></span></div>
              <div class="col-xs-9 text-left">
                <h3 class="activeUser-name">{{user.username}}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-xs-3"><span class="drugaBarva">Following: </span><span class="activeUser-numFollowgin">{{user.following.length}}</span></div>
              <div class="col-sm-6 col-xs-3"><span class="drugaBarva">Followers: </span><span class="activeUser-numFollowers">{{user.followers.length}}</span></div>
            </div>
          </div>
          <div class="card-section"><span class="activeUser-description">{{user.description.body}}</span></div>
</div>

