<nav>
      <div class="navbar navbar-custom navbar-fixed-top">
            <navbar></navbar>
           <search></search>

            <dropdown username="vm.user.username"></dropdown>
      </div>
</nav>

<div class="container-fluid">
      <div class="row">
          <div class="col-sm-12 col-md-3" align="center">
              <userinfo user="vm.user"></userinfo>
          </div>
          <div class="col-sm-12 col-md-6" alinodemogn="center">
              <div role="alert" ng-show="vm.info" class="alert alert-info">{{vm.info}}</div>
              <div id="all-following">
                  <div ng-repeat="user in vm.allFollowing">
                      <div class="col-md-6 side-by-side-card">
                        <div class="card">
                            <div class="card-section">
                                <div ng-click="vm.searchUser(user.username)"  class="row onHoverUserSearch">
                                    <div class="col-xs-3">
                                        <span class="glyphicon glyphicon-user vecjiGlyph"></span>
                                    </div>
                                    <div class="col-xs-9 text-left">
                                        <h3>{{user.username}}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-3">
                                        <span class="drugaBarva">Following: {{user.following.length}}</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-3">
                                        <span class="drugaBarva">Followers: {{user.followers.length}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-section">
                                <span>{{user.description.body}}</span>
                            </div>
                            <div class="card-section" style="text-align: center">
                                <btn ng-click="vm.unfollow(user._id)" class="btn" style="width: 95%">
                                    Unfollow
                                </btn>
                            </div>
                        </div>
                    </div>
                  
                  </div>
              </div>
             
            </div>
            
          <div class="col-sm-12 col-md-3" align="center">
              
          </div>
      </div>
  </div>