<nav>
    <div class="navbar navbar-custom navbar-fixed-top">
        <navbar></navbar>
        <search></search>
        <dropdown username="vm.user.username"></dropdown>

    </div>
    <div role="alert" ng-show="vm.info" class="alert alert-floating alert-info">{{vm.info}}</div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-3" align="center">
            <userinfo user="vm.user"></userinfo>
        </div>
        <div class="col-sm-12 col-md-6" align="center">

            <div role="alert" ng-show="vm.tweetErr" class="alert alert-danger">{{vm.tweetErr}}</div>
            <form autocomplete="off">
                <textarea ng-model="vm.newTweetContent" id="textarea" rows="4" placeholder="Write your message here..."
                          class="form-control"></textarea>
                <button ng-click="vm.createTweet()" id="btn-new-tweet" class="btn small pull-right">Post</button>
                <br>
                <label  class="pull-left" for"filter">Filter tweets: </label>
                <input  class="pull-left" id="filter" type="text" name="filter"
                       ng-model="resultsFilter">
            </form>

            <tweetcard ng-repeat="tweet in vm.feed | orderBy:'komentarDatum':false | filter : resultsFilter"
                       class="card" tweet="tweet" tweetid="{{tweet._id}}"></tweetcard>
        </div>
        <div class="col-sm-12 col-md-3" align="center">
            <div ng-show="vm.isSommething" class="h1">Want more content?</div>
            <label ng-show="vm.isSommething" class="pull-left" for"filter">Filter users: </label>
            <input ng-show="vm.isSommething" class="pull-left" id="filter" type="text" name="filter"
                   ng-model="userFilter">
            <div ng-show="vm.isSommething" id="recommendations" class="card">
                <div ng-repeat="user in vm.recommendation | filter: userFilter" class="card" id="{{user._id}}">
                    <div class="card-section">
                        <div ng-click="vm.searchUser(user.username)" class="row onHoverUserSearch">
                            <div class="col-xs-3">
                                <span class="glyphicon glyphicon-user vecjiGlyph"></span>
                            </div>
                            <div class="col-xs-9 text-left">
                                <h3>{{user.username}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-3">
                                <span class="drugaBarva"> Following: {{user.following.length}}</span>
                            </div>
                            <div class="col-sm-6 col-xs-3">
                                <span class="drugaBarva"> Followers {{user.followers.length}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-section" style="text-align: center">
                        <btn ng-click="vm.follow(user._id)" class="btn" style="width: 95%">Follow</btn>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
