.card {
    width: 100%;
    display: inline-block;
    padding: 0.6em;
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.card:not(:last-child) {
    margin-bottom: 1em;
}

.btn-followers-follow {
    width: 95%;
    margin: 0;
}

.side-by-side-card {
    padding: 0 0.5em;
    margin-bottom: 1em;
}

.card-section {
    padding: 0.3em;
    text-align: left;
}

.card-section:not(:first-child) {
    margin-top: 0.4em;
}

.card-section:not(:last-child) {
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 0.5em;
}

.moveUp-normal {
    position: relative;
    bottom: 5px;
}

.karticaObroba {
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
}

.vecjiGlyph {
    margin: 0.5em;
    font-size: 200%;
}

.drugaBarva {
    color: #757575;
}
