
.navbar-brand {
    padding: 0px;
}

#collapseGumb {
    margin-top: 1em;
}

.navbar-brand > img {
    height: 110%;
    padding: 0.3em;
    width: auto;
}

.alert-floating {
    /*position: -webkit-sticky;*/
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 99999;
    text-align: center;
}

.navbar-custom {
    background-color: #FF9800;
    color: #ffffff;
    border-radius: 0;
    text-align: center;
}

.navbar-custom .navbar-nav > li > a {
    color: #212121;
    font-size: 150%;
}

/*
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    text-decoration: none;
    background-color: #FFE0B2
}*/

.navbar-custom .navbar-toggle {
    background-color: #F57C00;
}

.navbar-custom .icon-bar {
    background-color: #EEEEEE;
}

.dropdown-menu li a {
    text-align: center;
}

#spustni {
    padding-left: 0.5em;
}

.page-header {
    border-bottom: none;
}

.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 12px;
    pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

#sredinski {
    margin: 0;
}

#search {
    margin-top: 1.0em;
    border-color: #CCCCCC;
    border-radius: 25px;
}