body {
    padding-top: 80px;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    background: #eeeeee;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.foot {
    color: #212121;
}

input[type="text"], [type="password"], [type="email"] {
    margin-bottom: 10px;
}

.search.form-control {
    text-align: center;
    width: 10em;
    transition: 0.2s;
    display: inline-block;
}

.search.form-control:focus {
    text-align: center;
    width: 16em;
}

.posebno {
    width: 60%;
    border-color: #cccccc;
    height: 45px;
}

a {
    margin: 5px;
}

card .card {
    background-color: #FFF;
}

.margin-bottom-sm {
    margin-bottom: 10px;
}

.margin-bottom-med {
    margin-bottom: 30px;
}

.margin-bottom-lrg {
    margin-bottom: 50px;
}

.btn {
    background-color: #FFE0B2;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #cccccc;
    transition: 0.2s;
    box-shadow: 0px 1px 2px #CCCCCC;
    min-width: 150px;

}

.btn:hover {
    background-color: #FFBC59;
    box-shadow: 0px 2px 8px #CCCCCC;

}

.btn:active {
    background-color: #FF9800;
    box-shadow: 0px 2px 2px #CCCCCC;
}

a.btn-nav-bar {
    position: relative;
    text-decoration: none;
    top: 10px;
    font-size: 1.4em;
    color: #212121;
    text-underline-mode: no;
    padding: 3px;
    /*border: 1px solid;*/
    border-radius: 5px;
    transition: 0.2s;
    /*min-width: 150px;*/

}

a.btn-nav-bar:hover {
    /*-moz-appearance: button; */
    background-color: #FFBC59;
}

a.btn-nav-bar:active {
    /*-moz-appearance: button;*/
    background-color: #FFE0B2;
}

.sub-title {
    color: #757575;
    margin-bottom: 30px;
}

.big-title {
    margin-top: 120px;
    margin-bottom: 30px;
}

.post-field {
    margin-bottom: 0.5em;
}

.tweetcard-header {
    height: 6.2em;
}

.tweetcard-userinfo {
    display: inline-block;
    width: 60%;
    text-align: left;
}

.tweetcard-userinfo:hover {
    background-color: #FFBC59;
    cursor: pointer;
}

.onHoverUserSearch:hover {
    background-color: #FFBC59;
    cursor: pointer;
}

.tweetcard-userinfo img {
    width: 2em;
    height: 2em;
    margin: 0.5em;
    margin-right: 0.4em;
    display: inline-block;
}

.tweetcard-userinfo b {
    position: relative;
    top: 0.3em;
    font-size: 110%;
}

.tweetcard-controls {
    display: inline-block;
    text-align: right;
    margin: 0.2em;
}

.tweetcard-controls a {
    display: inline-block;
    cursor: pointer;
    font-size: 170%;
    text-decoration: none;
    color: #FF9800;
}

.tweetcard-controls span {
    display: inline-block;
    /*border: 1px solid #ccc;*/
    /*background-color: #fff;*/
    position: relative;
    bottom: 0.35em;
    margin-right: 0.5em;
    padding: 0.2em 0;
    width: 2.0em;
    text-align: center;
    user-select: none;
}

.tweetcard-controls a:hover:not(.tweetcard-controls-unavailable) {
    color: #FFBC59;
}

a.tweetcard-controls-unavailable {
    color: #d3d3d3;
    cursor: default;
}
a.tweetcard-controls-unlike {
    color: #FFE0B2;
    cursor: pointer;
}

.text-card {
    font-size: 245%;
}

#dropdown-style {
    cursor: pointer;
}

#dropdown-style:hover {
    background-color: #FFBC59;
}
.card-section {
    word-wrap: break-word
}


