
#crta {
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    margin: 1em;
}

.vecjiGlyph {
    margin: 0.5em;
    font-size: 200%;
}

.drugaBarva {
    color: #757575;
}

#karticaObroba {
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
}