extends ../layout
include ../mixins/nav-search
include ../mixins/nav-dropdown
include ../mixins/user-info
include ../mixins/follower

block nav-mid
    +search()

block nav-right
    +nav-dropdown()

block main-mid
    #all-following
        //- for (var i=0; i<3; i++)
           +follower()

block main-left
    h3.sub-title
    +user-info()
    hr

block scripts
    script(src='/javascripts/followersController.js')
    script(src='/javascripts/searchController.js')
    script(src='/javascripts/clickCardControl.js')