extends ../layout
include ../mixins/tweetcard

//drugacen include skoraj ne gre. tako pa dela, da ga vtaknem znotraj enga bloka.

block main-mid
    .row(id="user-feed")
        h3 Welcome:  #{username}
        each tweet in tweets
            +tweetcard(tweet.creator.username, tweet.body)




    
