extends ../layout

include ../mixins/user-info
include ../mixins/nav-search
include ../mixins/nav-dropdown
block nav-mid
    +search()

block nav-right
    +nav-dropdown()

block main-left
    h3.sub-title
    +user-info()

block main-mid
    .row
        h3.sub-title
        form
            .form-group
                label(for="textarea").pull-left
                    h3 Profile Message
                textarea.form-control(id="textarea1",rows="4", placeholder="Write your message here...", style="resize: none;overflow:hidden")
                button(type="submit", id="btn-change-description").btn.small.pull-right Save

    .row
        h3.pull-left Change your password
    .row
        form.form-horizontal
            input(type="password").form-control.col-xs-7(id="password",placeholder="Old password",name="password")
            input(type="password").form-control.col-xs-7(id="password1",placeholder="New password",name="password1")
            input(type="password").form-control.col-xs-7(id="password2",placeholder="Confirm password",name="password2")
            button(type="submit", id="btn-change-password").btn.small.pull-right Change
    .row
        button(id="delete-profile", style="color:red").btn.small.pull-right Delete Profile

block scripts
    script(src='/javascripts/profileController.js')
    script(src='/javascripts/searchController.js')
    script(src='/javascripts/clickCardControl.js')