extends ../layout
include ../mixins/nav-search
include ../mixins/nav-dropdown
block nav-mid
    +search()

block nav-right
    +nav-dropdown()

block main-mid
    .row(id="search-feed")

block main-left
    h3.sub-title
    #search-user-info

block scripts
    script(src='/javascripts/searchController.js')
    script(src='/javascripts/searchControllerView.js')
    script(src='/javascripts/tweetControl.js')
    script(src='/javascripts/clickCardControl.js')