extends ../layout


block nav-mid

block main-mid
    #banner.page-header
        h1= glavaStrani.naslov
        h2.sub-title= glavaStrani.podnaslov
        form(action="/noScript/login", method="post", role="form", autocomplete="off")
            - if (napaka == "vrednost")
                .alert.alert-danger(role="alert") Login error
            input.form-control(type="text" placeholder="Username or email" aria-describedby="basic-addon1", name="username" ,id = "login-username", required, autofocus, autocomplete="off").posebno
            input.form-control(type="password" placeholder="Password" aria-describedby="basic-addon1", name="password" ,id="login-password", required, autocomplete="off").posebno
            button.btn(type='submit', id="btn-login") Log in
