extends ../layout

block nav-right
    a(href="/login").btn-nav-bar.pull-right= desniKot
    //ul.nav.navbar-nav.navbar-right
    //    li
    //        a.btn-nav-bar(href='/register')= desniKot

block main-mid
    script(src='/javascripts/registerController.js')
    #banner.page-header
        h1= glavaStrani.naslov
        h2.sub-title= glavaStrani.podnaslov
        form
            input.form-control(type="text" placeholder="Username" aria-describedby="basic-addon1", id="register-username").posebno
            input.form-control(type="email" placeholder="Email" aria-describedby="basic-addon1", id = "register-email").posebno
            input.form-control(type="password" placeholder="Password" aria-describedby="basic-addon1", id="register-password").posebno
            input.form-control(type="password" placeholder="Confirm password" aria-describedby="basic-addon1",id="register-password-second").posebno
            button.btn(type='submit', id="btn-register") Register
            .g-signin2(data-onsuccess="onSignIn")

block scripts
script(src='/javascripts/google.js')

//    a je to problematicno
script(src='/javascripts/registerController.js')