doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Twitterium_db_init
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
     
    body
        h1 Delete or init DB.
        button.btn(type='submit', id="btn-deleteCollection") DELETE DB
        button.btn(type='submit', id="btn-initDB") INIT 
        p#console-message
    
    script(src='/javascripts/db/db-controller.js')