doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Twitterium
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/card.css')
        link(rel='stylesheet', href='/stylesheets/navbarStyle.css')
        link(rel='stylesheet', href='/stylesheets/styleSettings.css')
        link(rel='stylesheet', href='/stylesheets/user_info.css')
        link(rel='stylesheet', href='/stylesheets/tingle.css')


        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/tingle.js')
        script(src='/bootstrap/js/bootstrap.min.js')

    body
        nav
            .navbar.navbar-custom.navbar-fixed-top
                a.navbar-brand(href="/noscript").pull-left
                    img(src="/images/home_icon.png",alt="logo")
                block nav-mid
                block nav-right

            .container-fluid
                .row
                    .col-sm-12.col-md-3(align="center")
                        block main-left
                    .col-sm-12.col-md-6(align="center")
                        block main-mid
                    .col-sm-12.col-md-3(align="center")
                        block main-right
                        
        #modal.modal.fade(role='dialog')
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Confirmation
                    .modal-body#modal-body
                        p Are you sure you want to log out?
                    .modal-footer
                        button.btn.btn-default#modal-close(type='button', data-dismiss='modal') Close
                        button.btn.btn-danger#modal-confirm(type='button', data-dismiss='modal') Confirm

