  <nav>
      <div class="navbar navbar-custom navbar-fixed-top">
        <navbar></navbar>
        <search></search>

         <dropdown username="vm.user.username"></dropdown>
      </div>

</nav>

<div class="container-fluid">
      <div class="row">
          <div class="col-sm-12 col-md-3" align="center">
              <userinfo user="vm.user"></userinfo>
          </div>
          <div class="col-sm-12 col-md-6" alinodemogn="center">
              <div class="row">
                  <h3 class="sub-title"></h3>
                  <div role="alert" ng-show="vm.info" class="alert alert-info">{{vm.info}}</div>
                  <form ng-submit="vm.changeDescription()" autocomplete="off">

                    <div class="form-group">

                      <label for="textarea" class="pull-left">
                        <h3>Profile Message</h3>
                          <div role="alert" ng-show="vm.formErrorDescription" class="alert alert-danger">{{vm.formErrorDescription}}</div>
                      </label>
                      <textarea ng-model="vm.userDescription" id="textarea1" rows="4" placeholder="Write your message here..." style="resize: none;overflow:hidden" class="form-control"></textarea>
                      <button type="submit" id="btn-change-description" class="btn small pull-right">Save</button>
                    </div>

                  </form>


                </div>
                <div class="row">
                  <h3 class="pull-left">Change your password</h3>
                </div>
                <div class="row">
                  <form ng-submit="vm.changePassword()" class="form-horizontal" autocomplete="off">
                     <div role="alert" ng-show="vm.formPassword.err" class="alert alert-danger">{{vm.formPassword.err}}</div>
                     <div role="alert" ng-show="vm.formPassword.ok" class="alert alert-success">{{vm.formPassword.ok}}</div>
                    <input ng-model="vm.password.oldP" type="password" id="password" placeholder="Old password" name="password" class="form-control col-xs-7"/>
                    <input ng-model="vm.password.newP" type="password" id="password1" placeholder="New password" name="password1" class="form-control col-xs-7"/>
                    <input ng-model="vm.password.confirmP" type="password" id="password2" placeholder="Confirm password" name="password2" class="form-control col-xs-7"/>
                    <button type="submit" id="btn-change-password" class="btn small pull-right">Change</button>
                  </form>
                </div>
                <div class="row">
                  <button ng-click="vm.deleteProfile()" id="delete-profile" style="color:red" class="btn small pull-right">Delete Profile</button>

          </div>
          <div class="col-sm-12 col-md-3" align="center">

          </div>
      </div>
  </div>
