include ./post-field
include ./tweetcard

mixin feed()
    .container-fluid
        .row.post-field
            +post-field()
        .row(id="user-feed")
            //+tweetcard('Dejan', 'All hail AJKA!')
            //+tweetcard('Matej', 'REBASE <3')
            //+tweetcard('Uroš', 'profesor, lorem ipsum neki neki')