mixin follower()
    .col-md-6.side-by-side-card
        .card
            .card-section
                .row
                    .col-xs-3
                        span.glyphicon.glyphicon-user.vecjiGlyph
                    .col-xs-9.text-left
                        h3 Matej
                .row
                    .col-sm-6.col-xs-3
                        span.drugaBarva Following: 13
                    .col-sm-6.col-xs-3
                        span.drugaBarva Followers: 27
            .card-section
                span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu
            .card-section(style="text-align: center")
                btn.btn(style="width: 95%") UnFollow
