mixin nav-dropdown()
    script(src='/javascripts/dropDownController.js')
    block nav-right
        .dropdown.pull-right(style="display: inline-block;")#dropdown-style
            h3#dropdownMenuButton.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false' style="padding-right: 0.5em; color:#212121").activeUser-name Username
            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                a.dropdown-item(href='/home' style="display: block;") Home
                a.dropdown-item(href='/followers' style="display: block;") Following
                a.dropdown-item(href='/profile' style="display: block;") Profile
                a.dropdown-item(href='' style="display: block;")#logOut Log out
    .g-signin2(data-onsuccess="onSignIn",  style="display: none")

    //ul.nav.navbar-nav.navbar-right
    //    li.dropdown
    //        a.dropdown-toggle(data-toggle="dropdown",href="#")
    //            //span.activeUser-name Matej
    //            span.glyphicon.glyphicon-user#spustni
    //        ul.dropdown-menu
    //            li
    //                a(href="/home") MyProfile
    //            li
    //                a(href="/followers") Following
    //            li
    //                a(href="/profile") Settings
    //            li
    //                a(href="/login")#logOut Log out