include recommended-user
mixin recommended-users()
    .h1 Want to get more content?
    .card(id="recommendations")
        //+recommended-user()
        //+recommended-user()
        //+recommended-user()
