mixin tweetcard(sender, body)
    .card
        .card-section.tweetcard-header
            .tweetcard-userinfo
              img.img-rounded(src="/images/user-icon.png")
              |         
              b #{sender}
            .tweetcard-controls
        .card-section
            p #{body}


