mixin user-info()
    .card.margin-bottom-sm
        .card-section
            .row.onHoverUserSearch#goGome
                .col-xs-3
                    span.glyphicon.glyphicon-user.vecjiGlyph
                .col-xs-9.text-left
                    h3.activeUser-name Matej
            .row
                .col-sm-6.col-xs-3
                    span.drugaBarva Following: 
                    span.activeUser-numFollowgin 13
                .col-sm-6.col-xs-3
                    span.drugaBarva Followers: 
                    span.activeUser-numFollowers 13
        .card-section
            span.activeUser-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu