 <div style="display: inline-block;" id="dropdown-style" class="dropdown pull-right">
            <h3 id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-right: 0.5em; color:#212121" class="dropdown-toggle activeUser-name">{{username}}</h3>
            <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                <a href="/home" style="display: block;" class="dropdown-item">Home</a>
                <a href="/followers" style="display: block;" class="dropdown-item">Following</a>
                <a href="/profile" style="display: block;" class="dropdown-item">Profile</a>
                <a href="" ng-click="dropvm.logOut()" style="display: block;" id="logOut" class="dropdown-item">Log out</a>
            </div>
</div>

